/* line 41, compass/_theme_template.scss */
.syntaxhighlighter {
  background-color: white !important;
  font-size: 12px !important;
}
/* line 46, compass/_theme_template.scss */
.syntaxhighlighter .line.alt1 {
  background-color: white !important;
}
/* line 47, compass/_theme_template.scss */
.syntaxhighlighter .line.alt2 {
  background-color: white !important;
}
/* line 51, compass/_theme_template.scss */
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #c3defe !important;
}
/* line 52, compass/_theme_template.scss */
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
/* line 57, compass/_theme_template.scss */
.syntaxhighlighter table caption {
  color: black !important;
}
/* line 63, compass/_theme_template.scss */
.syntaxhighlighter .gutter {
  color: #787878 !important;
}
/* line 65, compass/_theme_template.scss */
.syntaxhighlighter .gutter .line {
  border-right: 1px solid #d4d0c8 !important;
}
/* line 68, compass/_theme_template.scss */
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #d4d0c8 !important;
  color: white !important;
}
/* line 75, compass/_theme_template.scss */
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
/* line 77, compass/_theme_template.scss */
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
/* line 80, compass/_theme_template.scss */
.syntaxhighlighter.collapsed .toolbar {
  color: #3f5fbf !important;
  background: white !important;
  border: 1px solid #d4d0c8 !important;
}
/* line 85, compass/_theme_template.scss */
.syntaxhighlighter.collapsed .toolbar a {
  color: #3f5fbf !important;
}
/* line 87, compass/_theme_template.scss */
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #aa7700 !important;
}
/* line 92, compass/_theme_template.scss */
.syntaxhighlighter .toolbar {
  color: #a0a0a0 !important;
  background: #d4d0c8 !important;
  border: none !important;
}
/* line 96, compass/_theme_template.scss */
.syntaxhighlighter .toolbar a {
  color: #a0a0a0 !important;
}
/* line 98, compass/_theme_template.scss */
.syntaxhighlighter .toolbar a:hover {
  color: red !important;
}
/* line 103, compass/_theme_template.scss */
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black !important;
}
/* line 104, compass/_theme_template.scss */
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #3f5fbf !important;
}
/* line 105, compass/_theme_template.scss */
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #2a00ff !important;
}
/* line 106, compass/_theme_template.scss */
.syntaxhighlighter .keyword {
  color: #7f0055 !important;
}
/* line 107, compass/_theme_template.scss */
.syntaxhighlighter .preprocessor {
  color: #646464 !important;
}
/* line 108, compass/_theme_template.scss */
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}
/* line 109, compass/_theme_template.scss */
.syntaxhighlighter .value {
  color: #009900 !important;
}
/* line 110, compass/_theme_template.scss */
.syntaxhighlighter .functions {
  color: deeppink !important;
}
/* line 111, compass/_theme_template.scss */
.syntaxhighlighter .constants {
  color: #0066cc !important;
}
/* line 112, compass/_theme_template.scss */
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #7f0055 !important;
  background-color: none !important;
}
/* line 117, compass/_theme_template.scss */
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}
/* line 118, compass/_theme_template.scss */
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: deeppink !important;
}
/* line 119, compass/_theme_template.scss */
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}

/* line 36, compass/shThemeEclipse.scss */
.syntaxhighlighter .keyword {
  font-weight: bold !important;
}
/* line 39, compass/shThemeEclipse.scss */
.syntaxhighlighter .xml .keyword {
  color: #3f7f7f !important;
  font-weight: normal !important;
}
/* line 42, compass/shThemeEclipse.scss */
.syntaxhighlighter .xml .color1, .syntaxhighlighter .xml .color1 a {
  color: #7f007f !important;
}
/* line 43, compass/shThemeEclipse.scss */
.syntaxhighlighter .xml .string {
  font-style: italic !important;
  color: #2a00ff !important;
}
